.has-fade {
  visibility: hidden;
}

.mobile-has-fade {
  visibility: hidden;
}

/*
  can transition smoothly from opacity 0 to 1 but you cant transition from display none to block;
  ** one of the properties that cannot be animated is the "display" property.... but instead we can use visibility hidden.
*/
@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 200ms ease-in-out forwards;
          animation: fade-in 200ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 200ms ease-in-out forwards;
          animation: fade-out 200ms ease-in-out forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Public Sans', sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  color: #babeca;
  line-height: 1.3;
  overflow-x: hidden;
}

body.noscroll {
  overflow: hidden;
}

@media (min-width: 64em) {
  body {
    font-size: 1.25rem;
  }
}

h1,
h2,
h3 {
  font-weight: 300;
  line-height: 1.15;
  color: #495465;
  margin-top: 0px;
}

h1 {
  font-size: 2.31rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 64em) {
  h1 {
    font-size: 3.25rem;
  }
}

h2 {
  font-size: 1.875rem;
  margin-bottom: 1.5625rem;
}

@media (min-width: 64em) {
  h2 {
    font-size: 2.25rem;
    margin-bottom: 2.25rem;
  }
}

p {
  line-height: 1.5;
  margin-bottom: 2.25rem;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-fs {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  max-width: 69.375rem;
  margin: 0 auto;
}

.container--pall {
  padding-top: 4.375rem;
  padding-right: 1.5rem;
  padding-bottom: 4.375rem;
  padding-left: 1.5rem;
}

@media (min-width: 64em) {
  .container--pall {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.container--py {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}

@media (min-width: 64em) {
  .container--py {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.container--px {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.container--pt {
  padding-top: 4.375rem;
}

@media (min-width: 64em) {
  .container--pt {
    padding-top: 6rem;
  }
}

.container--pr {
  padding-right: 1.5rem;
}

.container--pb {
  padding-bottom: 4.375rem;
}

@media (min-width: 64em) {
  .container--pb {
    padding-bottom: 6rem;
  }
}

.container--pl {
  padding-left: 1.5rem;
}

button,
.button {
  position: relative;
  display: inline-block;
  padding: 0.75rem 1.125rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#495465), to(#829b97));
  background-image: linear-gradient(to right, #495465, #829b97);
  border: 0;
  border-radius: 50px;
  font-family: 'Public Sans', sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  cursor: pointer;
  color: white;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
  overflow: hidden;
}

button::before,
.button::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.25);
  opacity: 0;
  -webkit-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
}

button:hover::before,
.button:hover::before {
  opacity: 1;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.slider {
  width: 15.625rem;
  height: 100vh;
  z-index: 2;
  position: absolute;
  top: 5rem;
  right: 0rem;
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
  background-color: white;
}

.slider.has-slide {
  right: -100rem;
}

.slider__wrap {
  width: 100%;
}

.slider__wrap svg {
  color: #829b97;
  opacity: 0.75;
  height: 1.5rem;
  width: 1.5rem;
}

.slider__wrap a {
  list-style: none;
  text-decoration: none;
  font-size: 1.125rem;
  color: #babeca;
}

.slider__wrap a:hover {
  background: #f0f0f0;
  border-right: 2px solid #829b97;
  cursor: pointer;
}

.dd-menu:not(:last-child) {
  margin-bottom: 1rem;
}

.dd-menu p {
  margin: 0;
}

@media (min-width: 40em) {
  .header {
    height: 5rem;
  }
}

.header.mobile-open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.mobile-open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header.mobile-open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header.open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .overlay {
  opacity: 0;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeae2), to(transparent));
  background-image: linear-gradient(#eeeae2, transparent);
  z-index: 2;
}

@media (min-width: 40em) {
  .header .overlay {
    top: 5rem;
  }
}

.header nav {
  position: relative;
  background-color: white;
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
  z-index: 3;
}

.header__logo {
  height: 2.5rem;
}

.header__logo svg {
  opacity: 0.75;
  height: 100%;
  width: 100%;
}

.header__toggle > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #5faba8;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}

.header__mobile-menu {
  position: absolute;
  width: calc(100% - 3rem);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: white;
  margin-top: 1.5rem;
  padding: 1.625rem;
  border-radius: 5px;
  z-index: 2;
}

.header__mobile-menu a {
  display: block;
  padding: 0.625rem;
  color: #babeca;
  text-align: center;
  position: relative;
}

.header__mobile-menu a:hover {
  color: #5faba8;
}

.header__menu {
  position: absolute;
  width: calc(100% - 70%);
  top: 5rem;
  right: 0;
  background: white;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  z-index: 2;
}

.header__menu a {
  display: block;
  padding: 0.625rem;
  color: #babeca;
  font-size: 0.875rem;
  text-align: center;
}

.header__menu a:hover {
  color: #5faba8;
}

.header__links a {
  font-size: 0.875rem;
  color: #babeca;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
  position: relative;
}

.header__links a:not(:last-child) {
  margin-right: 32px;
}

.header__links a::before {
  content: '';
  position: absolute;
  display: block;
  height: 5px;
  left: 0;
  right: 0;
  bottom: -30px;
  background: -webkit-gradient(linear, left top, right top, from(#829b97), to(#829b97));
  background: linear-gradient(to right, #829b97, #829b97);
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.header__links a:hover {
  color: #5faba8;
}

.header__links a:hover::before {
  opacity: 1;
}

.header__cta {
  color: #babeca;
  background-image: -webkit-gradient(linear, left top, right top, from(#eeeae2), to(#fcfaf8));
  background-image: linear-gradient(to right, #eeeae2, #fcfaf8);
}

.showcase {
  position: relative;
  height: 61vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #fcfaf8;
}

.showcase__video-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.showcase__video-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.showcase__video-container video {
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.showcase__content {
  z-index: 1;
  color: #edd0ab;
}

.showcase__content h1 {
  font-size: 3.125rem;
  margin: 1rem;
  color: #edd0ab;
}

.showcase__cta {
  width: 17.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.showcase__cta a {
  width: 6.875rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#829b97), to(#829b97));
  background-image: linear-gradient(to right, #829b97, #829b97);
}

.hero {
  background-color: #fcfaf8;
}

@media (min-width: 64em) {
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero__image {
  position: relative;
  background-image: url("https://journii-dev.s3-us-west-1.amazonaws.com/house_on_plain.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  min-height: 56.5rem;
}

@media (min-width: 64em) {
  .hero__image {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 100%;
  }
}

@media (min-width: 87.5em) {
  .hero__image {
    -webkit-box-flex: 8;
        -ms-flex: 8;
            flex: 8;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 100%;
  }
}

.hero__text {
  text-align: center;
}

@media (min-width: 64em) {
  .hero__text {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: left;
  }
}

@media (min-width: 87.5em) {
  .hero__text {
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    height: 100%;
    text-align: left;
  }
}

.hero__text a {
  font-size: 1.5625rem;
  background: -webkit-gradient(linear, left top, right top, from(#edd0ab), to(#eeeae2));
  background: linear-gradient(to right, #edd0ab, #eeeae2);
}

.feature {
  background-color: #f0f0f0;
  text-align: center;
}

@media (min-width: 40em) {
  .feature {
    text-align: left;
  }
}

.feature__intro {
  margin-bottom: 3.75rem;
}

@media (min-width: 64em) {
  .feature__intro {
    width: 60%;
  }
}

@media (min-width: 40em) {
  .feature__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.feature__item {
  padding: 0.9375rem;
}

@media (min-width: 40em) {
  .feature__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    /*  - flex grow (allow to grow and fill space), 
                        0 - flex shrink (item is allowed to shrink less than the flex basis) 
                        50% - flex basis (aka default width for object) 
                     */
  }
}

@media (min-width: 64em) {
  .feature__item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.feature__icon {
  height: 4.625rem;
  margin-bottom: 1.875rem;
}

@media (min-width: 40em) {
  .feature__icon {
    width: 4.625rem;
    margin-bottom: 2.75rem;
  }
}

.feature__icon svg {
  opacity: 0.75;
  height: 100%;
  width: 100%;
}

.feature__title {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.15;
  color: #495465;
}

@media (min-width: 64em) {
  .feature__title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.feature__description {
  font-size: 0.875rem;
  line-height: 1.5;
}

.posts {
  background-color: #fcfaf8;
}

.post__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 1.875rem;
}

@media (min-width: 40em) {
  .post__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 64em) {
  .post__grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.post__item {
  border-radius: 0.3125rem;
  overflow: hidden;
  background-color: white;
  -webkit-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
  /*
                                                      1st pos controls horizontal
                                                      2nd pos controls vertical
                                                      3rd pos controls spread
                                                      4th pos controls color
                                                    */
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.post__item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.post__image {
  height: 12.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.post__text {
  padding: 1.875rem 1.875rem 2.5rem 1.875rem;
  color: #babeca;
}

@media (min-width: 40em) {
  .post__text {
    padding: 1.875rem 1.5625rem;
  }
}

.post__author {
  font-size: 0.625rem;
  margin-bottom: 0.75rem;
}

.post__title {
  font-size: 1.0625rem;
  line-height: 1.2rem;
  color: #495465;
  margin-bottom: 0.5rem;
}

.post__description {
  font-size: 0.8125rem;
}

.footer {
  background-color: #829b97;
  color: white;
  padding: 2.5rem;
  text-align: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

@media (min-width: 64em) {
  .footer .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr 2fr;
        grid-template-columns: 2fr 1fr 2fr;
    -ms-grid-rows: 1fr auto;
        grid-template-rows: 1fr auto;
        grid-template-areas: 'logo links1 cta' 'social links1 copyright';
    gap: 1rem;
    justify-items: start;
  }
}

.footer a {
  color: white;
}

.footer__logo {
  display: inline-block;
  height: 2rem;
  width: 10%;
}

.footer__logo svg {
  opacity: 0.75;
  height: 100%;
  width: 100%;
}

@media (max-width: 63.9375em) {
  .footer__logo {
    margin-bottom: 1.875rem;
  }
}

@media (min-width: 64em) {
  .footer__logo {
    grid-area: logo;
  }
}

@media (max-width: 63.9375em) {
  .footer__social {
    margin-bottom: 1.875rem;
  }
}

@media (min-width: 64em) {
  .footer__social {
    grid-area: social;
  }
}

.footer__social a {
  height: 1.25rem;
  display: inline-block;
}

.footer__social a i {
  -webkit-transition: fill 150ms ease-in-out;
  transition: fill 150ms ease-in-out;
}

.footer__social a:hover i {
  color: #e97272;
}

.footer__social a:not(:last-child) {
  margin-right: 1rem;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9375rem;
}

@media (max-width: 63.9375em) {
  .footer__links {
    margin-bottom: 1.875rem;
  }
}

@media (min-width: 64em) {
  .footer__links {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

@media (min-width: 64em) {
  .footer__links.col1 {
    grid-area: links1;
  }
}

.footer__links a {
  line-height: 2.25;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}

.footer__links a:hover {
  color: #e97272;
}

@media (min-width: 64em) {
  .footer__cta {
    grid-area: cta;
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

.footer__cta .button {
  color: white;
}

@media (max-width: 63.9375em) {
  .footer__cta .button {
    margin-bottom: 1.875rem;
  }
}

.footer__copyright {
  font-size: 0.8125rem;
  color: #495465;
}

@media (min-width: 64em) {
  .footer__copyright {
    grid-area: copyright;
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
}

.auth {
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

@media (min-width: 40em) {
  .auth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.auth__wrapper {
  background-color: #f8f7f6;
  padding: 1.25rem 2.5rem;
  border: 0;
  border-radius: 0.625rem;
}

.auth__wrapper a {
  color: #5faba8;
  text-decoration: none;
}

.auth__header {
  text-align: center;
  margin-bottom: 1.25rem;
}

.auth__form-control {
  position: relative;
  margin: 1.25rem 0 2.5rem;
  width: 18.75rem;
}

.auth__form-control input {
  display: block;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #5faba8;
  width: 100%;
  padding: 0.9375rem 0;
  font-size: 1.125rem;
  cursor: pointer;
}

.auth__form-control input:focus,
.auth__form-control input:valid {
  outline: 0;
  border-bottom-color: #5faba8;
}

.auth__form-control input:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.auth__form-control label {
  position: absolute;
  top: 0.9375rem;
  left: 0;
}

.auth__form-control input:not(:focus) + label span {
  visibility: hidden;
}

.auth__form-control input:focus + label span,
.auth__form-control input:valid + label span {
  visibility: visible;
  color: #5faba8;
  -webkit-transform: translateY(-1.875rem);
          transform: translateY(-1.875rem);
}

.auth__form-control span {
  display: inline-block;
  font-size: 1.125rem;
  min-width: 0.3125rem;
  -webkit-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.auth__input:not(:focus)::-webkit-input-placeholder {
  color: #5faba8;
  -webkit-transition: all 700ms ease-in-out;
  transition: all 700ms ease-in-out;
}

.auth__input:not(:focus):-ms-input-placeholder {
  color: #5faba8;
  -webkit-transition: all 700ms ease-in-out;
  transition: all 700ms ease-in-out;
}

.auth__input:not(:focus)::-ms-input-placeholder {
  color: #5faba8;
  -webkit-transition: all 700ms ease-in-out;
  transition: all 700ms ease-in-out;
}

.auth__input:not(:focus)::placeholder {
  color: #5faba8;
  -webkit-transition: all 700ms ease-in-out;
  transition: all 700ms ease-in-out;
}

.auth__input:focus::-webkit-input-placeholder {
  color: transparent;
  -webkit-transition: all 700ms ease-in-out;
  transition: all 700ms ease-in-out;
}

.auth__input:focus:-ms-input-placeholder {
  color: transparent;
  -webkit-transition: all 700ms ease-in-out;
  transition: all 700ms ease-in-out;
}

.auth__input:focus::-ms-input-placeholder {
  color: transparent;
  -webkit-transition: all 700ms ease-in-out;
  transition: all 700ms ease-in-out;
}

.auth__input:focus::placeholder {
  color: transparent;
  -webkit-transition: all 700ms ease-in-out;
  transition: all 700ms ease-in-out;
}

.auth__btn {
  cursor: pointer;
  background: #f0b28f;
  display: inline-block;
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border: 0;
  border-radius: 5px;
}

.auth__btn:focus {
  outline: 0;
}

.auth__btn:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.auth__redirect a:hover {
  border-bottom: 2px solid #5faba8;
}

.postsList {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  max-width: 83.75rem;
  margin: 0 auto;
  padding: 1rem;
}

@media (min-width: 64em) {
  .postsList {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.postItem {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: 18.75rem 1fr auto;
      grid-template-rows: 18.75rem 1fr auto;
  background: white;
  border-radius: 0.625rem;
  color: #495465;
  -webkit-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
}

@media (min-width: 40em) {
  .postItem {
    -ms-grid-columns: 160px (1fr)[4];
        grid-template-columns: 160px repeat(4, 1fr);
    -ms-grid-rows: 1fr auto auto;
        grid-template-rows: 1fr auto auto;
  }
}

@media (min-width: 64em) {
  .postItem {
    -ms-grid-columns: 160px (1fr)[4];
        grid-template-columns: 160px repeat(4, 1fr);
    max-height: 31.25;
  }
}

.postItem__overlay {
  display: none;
}

@media (min-width: 64em) {
  .postItem__overlay {
    position: relative;
    opacity: 0;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: rgba(0, 0, 0, 0.5);
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / 6;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1 / 4;
    -webkit-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
  }
}

.postItem:hover .postItem__overlay {
  opacity: 1;
}

.postItem__overlay span {
  display: inline-block;
  border: 2px solid white;
  padding: 1rem 3rem;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;
}

.postItem__image {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / 6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (min-width: 40em) {
  .postItem__image {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1 / 4;
  }
}

.postItem__content {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / 6;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  padding: 1.5rem;
  overflow: hidden;
}

@media (min-width: 40em) {
  .postItem__content {
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-column: 3 / 6;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
}

.postItem__title {
  font-size: 1.75rem;
  line-height: 1.1;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.postItem__text {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 0.75rem;
}

.postItem__likes, .postItem__follows, .postItem__comments, .postItem__date, .postItem__rating {
  font-size: 0.875rem;
  line-height: 1;
  padding-bottom: 1.5rem;
}

.postItem__likes {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  padding-left: 1.5rem;
}

@media (min-width: 40em) {
  .postItem__likes {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    justify-self: flex-start;
  }
}

.postItem__comments {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (min-width: 40em) {
  .postItem__comments {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.postItem__follows {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (min-width: 40em) {
  .postItem__follows {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    justify-self: flex-end;
  }
}

.postItem__rating {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (min-width: 40em) {
  .postItem__rating {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 / 5;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.postItem__date {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / 6;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  padding-right: 1.5rem;
  -ms-grid-column-align: end;
      justify-self: end;
}

@media (min-width: 40em) {
  .postItem__date {
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-column: 5 / 6;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    justify-self: flex-end;
  }
}

.profilesList {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  max-width: 83.75rem;
  margin: 0 auto;
  padding: 1rem;
}

@media (min-width: 50em) {
  .profilesList {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 64em) {
  .profilesList {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.profileItem {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 18.74rem 1fr auto;
      grid-template-rows: 18.74rem 1fr auto;
  background: white;
  border-radius: 0.625rem;
  color: #495465;
  -webkit-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
}

@media (min-width: 50em) {
  .profileItem {
    max-width: 50rem;
  }
}

@media (min-width: 40em) {
  .profileItem {
    -ms-grid-columns: 18.75rem 1fr;
        grid-template-columns: 18.75rem 1fr;
    -ms-grid-rows: 1fr auto;
        grid-template-rows: 1fr auto;
  }
}

.profileItem__overlay {
  display: none;
}

@media (min-width: 40em) {
  .profileItem__overlay {
    position: relative;
    opacity: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
  }
}

.profileItem:hover .profileItem__overlay {
  opacity: 1;
}

.profileItem__overlay span {
  display: inline-block;
  border: 2px solid white;
  padding: 1rem 3rem;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;
}

.profileItem__image {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  height: 18.75rem;
  width: 18.75rem;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 40em) {
  .profileItem__image {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    grid-row: 1fr auto;
    height: 17.1875rem;
    width: 17.1875rem;
  }
}

.profileItem__content {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  padding: 1.5rem;
  overflow: hidden;
}

@media (min-width: 40em) {
  .profileItem__content {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.profileItem__username {
  font-size: 1.75rem;
  line-height: 1.1;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.profileItem__bio {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 0.75rem;
}

.profileItem__created, .profileItem__followers {
  font-size: 0.9rem;
  line-height: 1;
  padding-bottom: 1rem;
}

.profileItem__created {
  padding-left: 1.5rem;
}

@media (min-width: 40em) {
  .profileItem__created {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
}

.profileItem__followers {
  padding-right: 1.5rem;
  -ms-grid-column-align: end;
      justify-self: end;
}

@media (min-width: 40em) {
  .profileItem__followers {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

.post-hero {
  background-color: #fafafa;
}

@media (min-width: 64em) {
  .post-hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.post-hero__image {
  min-height: 17.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 30rem;
}

@media (min-width: 64em) {
  .post-hero__image {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 100%;
  }
}

.post-hero__header {
  text-align: center;
}

@media (min-width: 64em) {
  .post-hero__header {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: left;
  }
}

.post-hero__header h1 {
  font-weight: 300;
  font-size: 2.31rem;
  line-height: 1.15;
  color: #495465;
  margin-bottom: 1.5rem;
}

@media (min-width: 64em) {
  .post-hero__header h1 {
    font-size: 3.25rem;
  }
}

.post-hero__header p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 0.63rem;
}

.post-hero__header a {
  color: #5faba8;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
  position: relative;
}

.post-hero__header a::before {
  content: '';
  position: absolute;
  display: block;
  height: 3px;
  left: 0;
  right: 0;
  bottom: -5px;
  background: -webkit-gradient(linear, left top, right top, from(#f0b28f), to(#e97272));
  background: linear-gradient(to right, #f0b28f, #e97272);
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.post-hero__header a:hover {
  color: #e97272;
}

.post-hero__header a:hover::before {
  opacity: 1;
}

.post-hero__header time {
  font-size: 0.75rem;
  font-weight: 500;
}

.post-hero__follow-btn {
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, right top, from(#5faba8), to(#5faba8));
  background-image: linear-gradient(to right, #5faba8, #5faba8);
}

.post-feature {
  text-align: center;
  margin-top: 2rem;
}

@media (max-width: 63.9375em) {
  .post-feature {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
  }
}

@media (min-width: 64em) {
  .post-feature {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.25fr (1fr)[4];
        grid-template-columns: 0.25fr repeat(4, 1fr);
  }
}

@media (max-width: 63.9375em) {
  .post-feature__cta {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    margin-bottom: 2rem;
  }
}

@media (min-width: 64em) {
  .post-feature__cta-grid-parent {
    display: -ms-grid;
    display: grid;
    gap: 1rem;
    padding: 1rem;
  }
}

.post-feature__cta-grid-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 64em) {
  .post-feature__cta-grid-child {
    display: -ms-grid;
    display: grid;
    gap: 1rem;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
  }
}

.post-feature__cta-like {
  display: inline flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 64em) {
  .post-feature__cta-like {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
}

.post-feature__cta-like .fa-heart {
  margin-right: 0.5rem;
}

@media (min-width: 64em) {
  .post-feature__cta-like .fa-heart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    margin: 1rem 0 0 0;
  }
}

.post-feature__cta-like-count {
  margin-right: 1rem;
}

@media (min-width: 64em) {
  .post-feature__cta-like-count {
    margin: 1rem 0 0 0;
  }
}

.post-feature__cta-follow {
  display: inline flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 64em) {
  .post-feature__cta-follow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
}

.post-feature__cta-follow .fa-users {
  margin-left: 1rem;
  margin-right: 0.5rem;
}

@media (min-width: 64em) {
  .post-feature__cta-follow .fa-users {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    margin: 1rem 0 0 0;
  }
}

@media (min-width: 64em) {
  .post-feature__cta-follow-count {
    margin: 1rem 0 0 0;
  }
}

.post-feature__text {
  font-size: 1.125rem;
  text-align: center;
  margin-bottom: 1.875rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 2;
  grid-row: 2;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 64em) {
  .post-feature__text {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2 / 6;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
    margin-top: 1.8rem;
    text-align: left;
  }
}
/*# sourceMappingURL=App.css.map */