.alertmessage {
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  z-index: 10;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;

  &__alert {
    max-height: 6rem;
    max-width: 15rem;
    padding: 1rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    overflow-y: auto;
    border: 3px solid $salmon;
    border-radius: 6px;
    background-color: white;
    color: $darkBlue;
    font-weight: 300;
  }

  .success {
    color: $darkTurquoise;
    border: 3px solid $darkTurquoise;
  }
  .error {
    color: $salmon;
    border: 3px solid $salmon;
  }
}
