.dashboard {
  &__left {
    display: flex;
    flex: 1;
    order: 1;
    @include breakpoint-down(small) {
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
    }

    @include breakpoint-up(medium) {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      height: 50rem;
      order: unset;
    }

    a {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-between;
      font-size: 0.875rem;
      color: $darkBlue;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        display: block;
        height: 3px;
        left: 0;
        right: 0;
        bottom: -5px;
        background: linear-gradient(to right, $tangerine, $salmon);
        opacity: 0;
        transition: opacity 300ms ease-in-out;
      }

      &:hover {
        color: $salmon;

        &::before {
          opacity: 1;
        }
      }
    }
  }

  &__user-stats {
    @include breakpoint-up(medium) {
      margin: 0.75rem;
      background-color: white;
      overflow-y: auto;
    }

    h6 {
      cursor: pointer;
      position: relative;
      transition: color 100ms ease-in-out;
      font-size: 0.75rem;

      @include breakpoint-up(medium) {
        font-size: inherit;
      }

      &:hover {
        color: $pastelGold;
        border: 3px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(to right, $pastelGold, $pastelGold);
        transition: border 100ms ease-in-out;

        &::before {
          opacity: 1;
        }
      }
    }
  }

  &__post-following-container,
  &__liked-container,
  &__follower-container {
    @include breakpoint-down(small) {
      display: none;
    }

    p,
    a {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__post-following-container {
    font-size: $font-sm;
    padding: 0.5rem;
  }

  &__liked-container {
    font-size: $font-sm;
    padding: 0.5rem;

    .fa-heart {
      font-size: 0.75rem;
      color: $salmon;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__follower-container {
    font-size: $font-sm;
    padding: 0.5rem;
  }
}
