.dashboard {
  &__right {
    display: flex;
    flex: 1;
    order: 0;
    @include breakpoint-down(small) {
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
    }

    @include breakpoint-up(medium) {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      height: 50rem;
      order: unset;
    }
  }

  &__right-container {
    @include breakpoint-up(medium) {
      margin: 0.75rem;
      background-color: white;
      overflow-y: auto;
    }

    h6 {
      cursor: pointer;
      position: relative;
      transition: color 100ms ease-in-out;
      font-size: 0.75rem;

      @include breakpoint-down(small) {
        font-size: $font-lg;
      }

      @include breakpoint-up(medium) {
        font-size: inherit;
      }

      &:hover {
        color: $dadJeansBlue;
        border: 3px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(to right, $dadJeansBlue, $dadJeansBlue);
        transition: border 100ms ease-in-out;

        &::before {
          opacity: 1;
        }
      }
    }
  }

  &__post-container {
    font-size: $font-sm;
    padding: 0.5rem;

    @include breakpoint-down(small) {
      display: none;
    }

    a {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: flex-start;
      font-size: 0.875rem;
      color: $darkBlue;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        display: block;
        height: 3px;
        left: 0;
        right: 0;
        bottom: -5px;
        background: linear-gradient(to right, $dadJeansBlue, $darkTurquoise);
        opacity: 0;
        transition: opacity 300ms ease-in-out;
      }

      &:hover {
        color: $dadJeansBlue;

        &::before {
          opacity: 1;
        }
      }
    }

    a,
    p {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .fa-star,
    .fa-star-half-alt {
      font-size: 0.65rem;
      color: $tangerine;
    }
  }
}
