.footer {
  background-color: $lightForrestGray;
  color: white;
  padding: 2.5rem;

  .container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    > :not(:last-child) {
      margin-bottom: 1rem;
    }

    @include breakpoint-up(medium) {
      justify-content: space-between;
      flex-flow: row nowrap;
    }
  }

  a {
    color: white;
  }

  &__logo {
    display: inline-block;
    width: 5rem;
    height: 5rem;

    svg {
      height: 100%;
      width: 100%;
    }
  }

  &__social {
    a {
      font-size: 1.5rem;

      i {
        transition: fill 150ms ease-in-out;
      }

      &:hover i {
        color: $salmon;
      }

      @include breakpoint-up(medium) {
        font-size: 2rem;
      }
    }

    a:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__links {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-size: 0.9375rem;

    @include breakpoint-up(medium) {
      flex-flow: row nowrap;
      a:not(:last-child) {
        margin-right: 1rem;
      }
      font-size: $font-med;
    }

    a {
      line-height: 2.25;
      transition: 150ms ease-in-out;

      &:hover {
        color: $salmon;
      }
    }
  }

  &__cta {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    a:not(:last-child) {
      margin-bottom: 1rem;
    }

    @include breakpoint-up(medium) {
    }

    .button {
      color: white;
    }
  }

  &__copyright {
    font-size: 0.8125rem;
    color: $darkBlue;
  }
}
