.profile-project {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  color: $darkBlue;
  padding: 0.1rem;

  @include breakpoint-up(medium) {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    flex-flow: column nowrap;
    align-items: flex-start;
    text-align: start;
    border-bottom: 1px solid rgba(130, 75, 104, 0.15);
  }

  &__title {
    margin: 1rem auto;
    font-size: 2rem;
    line-height: 1.15;
    font-weight: 400;

    @include breakpoint-up(medium) {
      margin: 1rem;
    }
  }

  &__list {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    @include breakpoint-down(small) {
      width: 22rem;
    }

    @include breakpoint-up(medium) {
      margin: 1rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: normal;
      gap: 1rem;
    }

    @include breakpoint-up(large) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__item {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 1rem auto;
    width: 30rem;
    padding: 1rem 0.5rem;
    box-shadow: 0.5px 0.5px 5px rgba(0, 0, 0, 0.15);

    @include breakpoint-down(small) {
      width: 100%;
    }

    @include breakpoint-up(medium) {
      max-height: 22rem;
      width: auto;
      margin: 0;
      padding: 1rem;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  &__header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    @include breakpoint-down(small) {
      width: 100%;
    }

    @include breakpoint-up(medium) {
      align-items: flex-start;
    }
  }

  &__description,
  &__body {
    margin-bottom: 1rem;
  }

  &__header,
  &__website {
    margin-bottom: 0.5rem;
  }

  &__website-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;

    @include breakpoint-down(small) {
      width: 100%;
      justify-content: center;
    }

    label {
      font-size: 0.65rem;
    }

    span {
      display: block;
      height: 0.25rem;
      width: 0.25rem;
      margin: 0 0.5rem;
      background: $darkTurquoise;
      border-radius: 50%;
    }
  }

  &__name {
    font-size: $font-med;
    color: $pinkLemonade;
    transition: color 300ms ease-in-out;
    margin: 0 0 0.5rem 0;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      display: block;
      height: 3px;
      left: 0;
      right: 0;
      bottom: -5px;
      background: linear-gradient(to right, $darkTurquoise, $pastelOlive);
      opacity: 0;
      transition: opacity 300ms ease-in-out;
    }

    &:hover {
      color: $sunsetOrange;

      &::before {
        opacity: 1;
      }
    }
  }

  &__info {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 0.75rem;

    @include breakpoint-down(small) {
      width: 100%;
      justify-content: center;
    }

    span {
      display: block;
      height: 0.25rem;
      width: 0.25rem;
      margin: 0 0.5rem;
      background: $darkTurquoise;
      border-radius: 50%;
    }

    p {
      margin: 0;
      font-size: 0.6rem;
    }
  }

  &__website {
    font-size: 0.65rem;
  }

  &__date {
    font-size: 0.6rem;
  }

  &__description {
    max-height: 5rem;
    font-size: 0.6rem;
    line-height: 1.15;
    overflow: hidden;
  }

  &__body {
    max-height: 3rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    font-size: 0.6rem;
    overflow: hidden;
  }

  &__ul {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__li {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    transition: transform 200ms ease-in-out;

    &:hover {
      color: $salmon;
      transform: scale(1.1);
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
      padding: 2px 8px 2px 2px;
    }

    span {
      display: block;
      height: 0.25rem;
      width: 0.25rem;
      margin: 0 0.5rem;
      background: $darkTurquoise;
      border-radius: 50%;
    }
  }

  &__btn-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }

  &__btn {
    margin-right: 1rem;
    padding: 0.4rem 0.7rem;
    border-radius: 5px;
    background-image: linear-gradient(to right, $salmon, $salmon);
    font-size: 0.7rem;
    cursor: pointer;
    transition: all 200ms ease-in-out;

    &:hover {
      transform: scale(0.98);
    }
    .fa-trash {
      font-size: 0.8rem;
    }
  }

  &__update {
    padding: 0.5rem;
    font-size: 0.55rem;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    background-image: linear-gradient(to right, $dadJeansBlue, $dadJeansBlue);
    transition: all 200ms ease-in-out;
    cursor: pointer;

    &:hover {
      transform: scale(0.98);
      opacity: 0.75;
    }
  }
}
