.quote {
  width: 35rem;
  position: relative;
  margin-bottom: 0.5rem;

  @include breakpoint-up(large) {
    width: 40rem;
  }

  .fa-quote {
    position: absolute;
    font-size: 1rem;
    line-height: 0.8rem;
  }

  .fa-quote-right {
    left: 36rem;

    @include breakpoint-up(large) {
      left: 41rem;
    }
  }

  .fa-quote-left {
    right: 36rem;

    @include breakpoint-up(large) {
      right: 41rem;
    }
  }

  &__body {
    line-height: 1.25;
    font-size: $font-sm;
  }

  &__author,
  &__text,
  &__bar {
    margin-bottom: 1rem;
  }

  &__bar {
    height: 2px;
    width: 100%;
    opacity: 0.75;
    animation: grow 8s linear infinite;
    transform-origin: left;
    background-color: $pastelGold;

    @keyframes grow {
      0% {
        transform: scaleX(0);
      }
    }
  }
}
