.resetpassword {
  @include breakpoint-up(medium) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    margin-top: 5rem;
  }
  height: 100vh;
  width: 100vw;

  &__wrapper {
    width: 25rem;
    height: 25rem;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 1.25rem 2.5rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 0.625rem;
    background-color: hsl(0, 0%, 96%);

    @include breakpoint-up(medium) {
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  &__header {
    text-align: center;
    font-size: 1.5rem;

    @include breakpoint-up(medium) {
      text-align: left;
      margin-bottom: 3rem;
    }
  }

  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%;
    margin-bottom: 1rem;

    @include breakpoint-up(medium) {
      align-items: flex-start;
    }
  }

  &__form-control {
    width: 100%;
    margin: 0 0 2rem;
  }

  &__input {
    width: 100%;
    padding: 0 0 0.9375rem 0;
    display: block;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid $dadJeansBlue;
    font-size: $font-sm;
    color: $darkBlue;
    cursor: pointer;

    &:focus,
    :valid {
      outline: 0;
    }

    &:invalid {
      box-shadow: none;
    }
  }

  &__btn {
    padding: 0.5rem 0.75rem;
    font-size: 0.75rem;
    text-transform: uppercase;
    border-radius: 5px;
    background-image: linear-gradient(to right, $dadJeansBlue, $dadJeansBlue);
    transition: all 200ms ease-in-out;
    cursor: pointer;

    &:hover {
      transform: scale(0.98);
    }
  }
}
