.reviews {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  margin: 1.5rem 1rem 1.5rem 1.5rem;

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }

  &__grid-item {
    padding: 1rem 0.5rem;
    box-shadow: 0.5px 0.5px 5px rgba(0, 0, 0, 0.15);
  }

  &__header {
    margin: 0 0 1rem 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
  }

  &__name {
    font-size: 0.85rem;
    color: $darkTurquoise;
    margin-top: 0.5rem;
  }

  &__date {
    font-size: 0.65rem;
    color: $darkTurquoise;
    margin-top: 0.5rem;
  }

  &__line-break {
    display: block;
    height: 0.25rem;
    width: 0.25rem;
    margin: 0 0.5rem;
    background: $salmon;
    border-radius: 50%;
    margin-top: 0.5rem;
  }

  .fa-star,
  .fa-star-half-alt {
    font-size: 0.65rem;
    color: $tangerine;
  }

  &__grid-comment {
    color: $darkBlue;
    font-size: $font-sm;
    line-height: 1.5;
  }

  &__delete-btn {
    margin-top: 0.75rem;
    padding: 0.3rem 0.75rem;
    border-radius: 5px;
    background-image: linear-gradient(to right, $salmon, $salmon);
    transition: all 200ms ease-in-out;

    &:hover {
      transform: scale(0.9);
    }
  }
}
