.dashboard {
  &__main-content {
    flex: 3;
    order: 2;

    @include breakpoint-up(medium) {
      order: unset;
    }
  }

  &__main-container {
    margin: 0.75rem;
    overflow-y: auto;
    @include breakpoint-down(small) {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    }

    h6 {
      color: $pinkLemonade;
      font-size: $font-xlg;
      padding: 0.25rem 0;

      @include breakpoint-up(medium) {
        font-size: $font-lg;
      }

      a {
        position: relative;
        color: $pinkLemonade;

        &::before {
          content: '';
          position: absolute;
          display: block;
          height: 3px;
          left: 0;
          right: 0;
          bottom: -2px;
          background: linear-gradient(to right, $pinkLemonade, $sunsetOrange);
          opacity: 0;
          transition: opacity 300ms ease-in-out;
        }

        &:hover {
          color: $pinkLemonade;

          &::before {
            opacity: 1;
          }
        }
      }
    }

    a {
      color: $darkBlue;
    }
  }

  &__item {
    width: 37rem;
    margin-bottom: 2rem;
    border-radius: 0.35rem;
    background-color: white;
    &:hover {
      transform: scale(1.02);
    }
    @include breakpoint-up(medium) {
      width: unset;
    }
  }

  &__image {
    height: 15rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__text {
    padding: 1rem;
  }

  &__author {
    font-size: 0.625rem;
    margin-bottom: 0.5rem;
  }

  &__title {
    font-size: $font-med;
    word-break: break-all;
  }

  &__stats {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0 0.5rem 1rem;

    .fa-heart {
      font-size: 0.75rem;
      color: $salmon;

      &:hover {
        transform: scale(1.1);
      }
    }
    .fa-star {
      font-size: 0.65rem;
      color: $tangerine;
    }

    .rating {
      padding-bottom: 0.4rem;
    }

    p {
      font-size: 0.75rem;
      color: $tangerine;
    }
  }

  &__spacer {
    display: block;
    height: 0.25rem;
    width: 0.25rem;
    margin: 0 0.5rem;
    background: $pastelGold;
    border-radius: 50%;
  }

  &__date {
    font-size: 0.65rem;
    color: $darkTurquoise;
  }
}
