.showcase {
  position: relative;
  height: 61vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  // padding: 0 1.25rem;
  background-color: $lightSand;

  &__video-container {
    position: absolute;
    // top: 0;
    // left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.2);
    }

    video {
      width: 100%;
      min-width: 100%;
      height: 100%;
      min-height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    z-index: 1;
    color: $pastelGold;

    h1 {
      font-size: 3.125rem;
      margin: 1rem;
      color: $pastelGold;
    }
  }
}

.hero {
  background-color: $lightSand;

  .container {
    @include breakpoint-up(large) {
      display: flex;
      align-items: center;
    }
  }

  &__image {
    @include breakpoint-up(large) {
      flex: 3;
      order: 2;
      height: 100%;
    }

    @include breakpoint-up(xlarge) {
      flex: 8;
      order: 2;
      height: 100%;
    }

    position: relative;
    background-image: url('https://journii-dev.s3-us-west-1.amazonaws.com/house_on_plain.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    min-height: 56.5rem;
  }

  &__text {
    text-align: center;

    @include breakpoint-up(large) {
      flex: 2;
      order: 1;
      text-align: left;
    }

    @include breakpoint-up(xlarge) {
      flex: 5;
      order: 1;
      height: 100%;
      text-align: left;
    }

    a {
      font-size: 1.5625rem;
      background: linear-gradient(to right, $pastelGold, $sand);
    }
  }
}
