.hero {
  background-color: $lightSand;

  .container {
    @include breakpoint-up(large) {
      display: flex;
      align-items: center;
    }
  }

  &__image {
    @include breakpoint-up(large) {
      flex: 3;
      order: 2;
      height: 100%;
    }

    @include breakpoint-up(xlarge) {
      flex: 8;
      order: 2;
      height: 100%;
    }

    position: relative;
    background-image: url('https://journii-dev.s3-us-west-1.amazonaws.com/house_on_plain.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    min-height: 40rem;
  }

  &__text {
    text-align: center;

    h1 {
      color: $darkTurquoise;
      font-size: 2.5rem;
    }

    @include breakpoint-up(large) {
      flex: 2;
      order: 1;
      text-align: left;
    }

    @include breakpoint-up(xlarge) {
      flex: 5;
      order: 1;
      height: 100%;
      text-align: left;
    }

    a {
      margin-top: 1rem;
      padding: 0.5rem, 0.65rem;
      font-size: $font-med;
      background: linear-gradient(to right, $pastelGold, $sand);
    }
  }

  &__message {
    display: flex;
    flex-flow: column nowrap;
    font-size: $font-med;

    p {
      margin: 0;
      margin-bottom: 1rem;
    }
  }
}
