.menu__btn {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 1rem;
  background-image: linear-gradient(to right, $salmon, $pinkLemonade);

  transition: opacity 300ms ease-in-out;

  &:hover {
    opacity: 0.75;
    transform: scale(0.9);
  }
}

.menu__slider {
  top: 0;
  right: 0;
  height: 100vh;
  width: 20rem;
  position: fixed;
  overflow-y: auto;
  background-color: white;
  box-shadow: -5px 0px 0.1px 0.1px rgba(10, 243, 204, 0.926);
  transform: translateX(105%);
  transition: 300ms ease-in-out;
  z-index: 5;
}

.menu__slider--active {
  transform: translateX(0);
}

.menu {
}
