.Modal {
  position: fixed;
  width: 40rem;
  top: -150vh;
  left: 50%;
  transform: translate(-50%, 200%);
  transition: top 0.3s ease-out;
  z-index: 10;
  background-color: #fff;
}

.Modal.Show {
  top: 0;
}

.Overlay {
  background-color: rgba(0, 0, 0, 0.55);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: none;
  z-index: 5;
}

.Overlay.Show {
  display: block;
}
