.post-hero {
  background-color: hsl(0, 0%, 98%);

  .container {
    @include breakpoint-up(large) {
      display: flex;
      align-items: center;
    }
  }

  &__image {
    min-height: 17.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 30rem;

    @include breakpoint-up(large) {
      flex: 3;
      order: 2;
      height: 100%;
    }
  }

  &__header {
    text-align: center;

    @include breakpoint-up(large) {
      flex: 2;
      order: 1;
      text-align: left;
    }

    h1 {
      font-weight: 300;
      font-size: 2.31rem;
      line-height: 1.15;
      color: $darkBlue;
      margin-bottom: 1.5rem;
      word-break: break-all;

      @include breakpoint-up(large) {
        font-size: 1.75rem;
      }
    }

    a {
      color: $darkTurquoise;
      transition: color 300ms ease-in-out;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        display: block;
        height: 3px;
        left: 0;
        right: 0;
        bottom: -5px;
        background: linear-gradient(to right, $tangerine, $salmon);
        opacity: 0;
        transition: opacity 300ms ease-in-out;
      }

      &:hover {
        color: $salmon;

        &::before {
          opacity: 1;
        }
      }
    }

    p {
      font-size: 1rem;
      line-height: 1.5;
      margin-bottom: 0.63rem;
    }

    time {
      font-size: 0.75rem;
      font-weight: 500;
    }
  }

  &__cta {
    margin-top: 1rem;

    @include breakpoint-up(large) {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
    }
  }

  &__follow-btn,
  &__edit-btn {
    border-radius: 5px;
    background-image: linear-gradient(to right, $darkTurquoise, $darkTurquoise);
    margin-right: 1rem;
    padding: 0.5rem 0.75rem;
    font-size: 0.75rem;
    cursor: pointer;
    transition: all 200ms ease-in-out;

    &:hover {
      transform: scale(0.9);
    }
  }

  #post-hero__edit-link {
    position: unset;
    transition: none;
    color: white;

    &::before {
      display: none;
    }
  }

  &__delete-btn {
    padding: 0.5rem 0.75rem;
    font-size: 0.75rem;
    border-radius: 5px;
    background-image: linear-gradient(to right, $salmon, $salmon);
    transition: all 200ms ease-in-out;
    cursor: pointer;

    &:hover {
      transform: scale(0.9);
    }
  }
}
