.postItem {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 18.75rem 1fr auto;
  background: hsl(0, 0%, 100%);
  border-radius: 0.625rem;
  color: $darkBlue;

  &__image {
    grid-column: 1 / 6;
    grid-row: 1 / 2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__content {
    grid-column: 1 / 6;
    grid-row: 2 / 3;
    padding: 0.3125rem;
  }

  &__title {
    font-size: 1.75rem;
    line-height: 1.1;
    font-weight: 700;
    margin-bottom: 0.75rem;
  }

  &__text {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 0.75rem;
  }

  &__likes,
  &__follows,
  &__comments,
  &__date,
  &__rating {
    font-size: $font-sm;
    line-height: 1;
  }

  &__likes {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  &__comments {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  &__follows {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }

  &__rating {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
  }

  &__date {
    grid-column: 5 / 6;
    grid-row: 3 / 4;
  }
}
