.profileShow {
  @include breakpoint-up(medium) {
    display: grid;
    gap: 1rem;
    grid-template-columns: 25rem 1fr;
    grid-template-rows: repeat(2, 1fr) auto;
  }

  @include breakpoint-up(large) {
    display: grid;
    gap: 1rem;
    grid-template-columns: 25rem repeat(2, 1fr);
    grid-template-rows: 30rem repeat(3, 1fr) auto;
  }
}
