// Colors
$sand: hsl(40, 27%, 91%);
$lightSand: hsl(40, 33%, 98%);
$cement: hsl(108, 5%, 82%);
$veryLightGreen: hsl(0, 0%, 94%);
$darkTurquoise: hsl(178, 31%, 52%);
$lightForrestGray: hsl(170, 11%, 56%);
$blueGray: hsl(224, 13%, 76%);
$pastelGold: hsl(34, 65%, 80%);
$darkBlue: hsl(216, 16%, 34%);
$salmon: hsl(0, 73%, 68%);
$beige: hsl(45, 73%, 96%);
$tangerine: hsl(22, 76%, 75%);
$pastelOlive: hsl(142, 17%, 87%);
$lightGray: hsl(80, 16%, 96%);

// Font Sizes
$font-sm: 0.875rem; //14px ~ e.g., 14/16
$font-med: 1.125rem; //18px
$font-lg: 1.25rem;
$font-xlg: 3.25rem;
