// Colors
$sand: hsl(40, 27%, 91%);
$lightSand: hsl(40, 33%, 98%);
$pastelGreen: hsl(170, 34%, 73%);
$turquoise: hsl(170, 34%, 73%);
$darkTurquoise: hsl(178, 31%, 52%);
$tangerine: hsl(16, 100%, 73%);
$salmon: hsl(0, 100%, 85%);
$lightForrestGray: hsl(170, 11%, 56%);
$darkGray: hsl(0, 0%, 73%);
$forestGreen: hsl(170, 11%, 56%);
$pastelGold: hsl(34, 65%, 80%);

// Font Sizes
$font-sm: 0.875rem; //14px ~ e.g., 14/16
$font-med: 1.125rem; //18px
$font-lg: 1.25rem;
$font-xlg: 3.25rem;
